<h1 mat-dialog-title>Delete Product</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Code</mat-label>
    <input matInput value="{{deleteData.customerCode}}" readonly>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Name</mat-label>
    <input matInput value="{{deleteData.customerName}}" readonly>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Customer Gender</mat-label>
    <input matInput value="{{deleteData.customerGender == 0 ? 'Female' : 'Male'}}" readonly>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline" readonly>
    <mat-label>Customer Birthday</mat-label>
    <input matInput value="{{deleteData.customerBirthday}}" readonly>
  </mat-form-field>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button color="warn" (click)="deleteCustomer()">Confirm</button>
</div>

