<div class="container">
  <button routerLink="/baiDang/create" class="btn btn-primary">Tao moi bai dang</button>
  <button class="btn btn-primary" style="margin-left: 10px;" (click)="refresh()">Refresh</button>

  <div style="display: flex; justify-content: center; margin: 10px 100px; flex-direction: column;">
    <form method="get" [formGroup]="searchForm" (ngSubmit)="search()">
      <input type="text" class="form-control" placeholder="Tim kiem theo dien tich"
             aria-label="Input group example" aria-describedby="basic-addon1"
             name="name" formControlName="dienTichSearch" style="margin: 10px">
      <div
        *ngIf="searchForm.get('dienTichSearch').invalid && searchForm.get('dienTichSearch').errors?.number">
        <span *ngIf="searchForm.get('dienTichSearch').errors.number" style="color: red"> Ban phai nhap so!</span>
      </div>
      <select id="employeeCreate" class="form-control" formControlName="huongSearch" style="margin: 10px">
        <option disabled [value]="''">--Tim kiem theo huong--</option>
        <option *ngFor="let c of huongList" [ngValue]="c.id">{{c.id}}
          - {{c.ten}}</option>
      </select>
      <div
        *ngIf="searchForm.get('huongSearch').invalid && searchForm.get('huongSearch').errors?.number">
        <span *ngIf="searchForm.get('huongSearch').errors.number" style="color: red"> Ban phai nhap so!</span>
      </div>
      <input type="text" class="form-control" placeholder="Tim kiem theo gia"
             aria-label="Input group example" aria-describedby="basic-addon1"
             name="price" formControlName="giaSearch" style="margin: 10px">
      <div
        *ngIf="searchForm.get('giaSearch').invalid && searchForm.get('giaSearch').errors?.number">
        <span *ngIf="searchForm.get('giaSearch').errors.number" style="color: red"> Ban phai nhap so!</span>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left: 10px;"><i
        class="fa fa-search"></i>Search
      </button>
    </form>
  </div>
</div>

<div class="container">
  <div *ngIf="baiDangList.length == 0">
    <h1 style="text-align: center;font-size: 30px;">There're no content...</h1>
  </div>
  <div *ngIf="!(baiDangList.length == 0)">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Tieu De</th>
        <th>Danh Muc</th>
        <th>Vung Mien</th>
        <th>Ban La</th>
        <th>Huong</th>
        <th>Tinh Trang</th>
        <th>Dia Chi</th>
        <th>Dien Tich</th>
        <th>Gia</th>
        <th>Noi Dung</th>
        <th>Hinh Anh</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let b of baiDangList">

        <td>{{b.id}}</td>
        <td>{{b.tieuDe}}</td>
        <td>{{b.danhMuc.ten}}</td>
        <td>{{b.vungMien.ten}}</td>
        <td>{{b.banLa == 0 ? 'Ca nhan' : 'Cong ty'}}</td>
        <td>{{b.huong.ten}}</td>
        <td>{{b.tinhTrang == 0 ? 'Moi' : 'Da su dung'}}</td>
        <td>{{b.diaChi}}</td>
        <td>{{b.dienTich}}m²</td>
        <td>{{b.gia | currency}}</td>
        <td>{{b.noiDung}}</td>
        <td>{{b.hinhAnh}}</td>
        <td colspan="2">
          <button class="btn btn-success" type="button"
                  (click)="updateBaiDang(b)">
            <span>Update</span>
          </button>
          <button class="btn btn-success" type="button"
                  (click)="deleteBaiDang(b)">
            <span>Delete</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <hr/>
    <ul class="nav nav-pills">
      <div *ngIf="!first">
        <a type="button" class="page-link" (click)="previous()">«</a>
      </div>
      <li class="nav-item" *ngFor="let index of totalPages">
        <a type="button" class="nav-link" [ngClass]="index == pageNumber+1 ? 'active' : ''" (click)="getBaiDangPaging(index)">
          <span>{{index}}</span>
        </a>
      </li>
      <a  *ngIf="!last" type="button" class="page-link" (click)="next()">»</a>
    </ul>
  </div>
</div>
