<div style="background-color: #77b0e2">
  <div class="container d-flex text-center" style="justify-content: center;">
    <form action="/services/showCreate" method="GET">
      <label for="createSelection" style="font-size: 30px; margin-top: 10px;"><b>Select service type for
        create:</b></label>
      <select name="serviceTypeId" id="createSelection" class="form-control mb-3" style="width: 550px;"
              (change)="showFormCreate($event)">
        <option value="0" selected>Create new services</option>
        <option value="1">Create by villa</option>
        <option value="2">Create by house</option>
        <option value="3">Create by room</option>
      </select>
    </form>
  </div>
</div>
<div id="background">
  <div class="container"
       style="background-repeat: no-repeat;background-size: 100% 100%">
    <!--</form>-->
    <div *ngIf="check == 0" style="width: 100%; height: 700px"></div>
    <!--VILLA FORM CREATE-->
    <div *ngIf="check == 1">
      <div class="backgroundVilla">
        <div class="container" id="villa">
          <form id="createFormVilla" method="POST" [formGroup]="facilityCreateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="serviceCodeCreateVilla">Service code</label>
              <input type="text" class="form-control" placeholder="Type new service code here"
                     id="serviceCodeCreateVilla" formControlName="serviceCode">
              <div
                *ngIf="serviceCode.invalid && (serviceCode.dirty || serviceCode.touched) || serviceCode.errors?.empty">
                <span *ngIf="serviceCode.errors.pattern" style="color: red">Wrong format, ex: DV-0123</span>
                <span *ngIf="serviceCode.errors.required || serviceCode.errors.empty" style="color: red">Empty! Input please!</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceNameCreateVilla">Service name</label>
                  <input type="text" class="form-control" placeholder="Type new service name here"
                         id="serviceNameCreateVilla" formControlName="serviceName">
                  <div
                    *ngIf="serviceName.invalid && (serviceName.dirty || serviceName.touched) || serviceName.errors?.empty">
                    <span *ngIf="serviceName.errors.required || serviceName.errors.empty" style="color: red">Empty! Input please!</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceAreaCreateVilla">Services area (m²)</label>
                  <input type="text" class="form-control" placeholder="Type new services area here"
                         id="serviceAreaCreateVilla" formControlName="serviceArea">
                  <div
                    *ngIf="serviceArea.invalid && (serviceArea.dirty || serviceArea.touched) || serviceArea.errors?.empty">
                    <span *ngIf="serviceArea.errors?.gte"
                          style="color: red">{{serviceArea.errors?.requiredValue}}</span>
                    <span *ngIf="serviceArea.errors.required || serviceArea.errors.empty" style="color: red">Empty! Input please!</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceCostCreateVilla">Service cost:</label>
                  <input type="text" class="form-control" id="serviceCostCreateVilla"
                         placeholder="Type new services cost here" formControlName="serviceCost">
                  <div
                    *ngIf="serviceCost.invalid && (serviceCost.dirty || serviceCost.touched) || serviceCost.errors?.empty">
                    <span *ngIf="serviceCost.errors?.gte"
                          style="color: red">{{serviceCost.errors?.requiredValue}}</span>
                    <span *ngIf="serviceCost.errors.required || serviceCost.errors.empty" style="color: red">Empty! Input please!</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceMaxPeopleCreateVilla">Service max people:</label>
                  <input type="text" class="form-control" id="serviceMaxPeopleCreateVilla"
                         placeholder="Type new services max people here" formControlName="serviceMaxPeople">
                  <div
                    *ngIf="serviceMaxPeople.invalid && (serviceMaxPeople.dirty || serviceMaxPeople.touched) || serviceMaxPeople.errors?.empty">
                    <span *ngIf="serviceMaxPeople.errors?.gte"
                          style="color: red">{{serviceMaxPeople.errors?.requiredValue}}</span>
                    <span *ngIf="serviceMaxPeople.errors.required || serviceMaxPeople.errors.empty" style="color: red">Empty! Input please!</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="rentTypeCreateVilla">Choose new rent type:</label>
                    <select id="rentTypeCreateVilla" class="form-control" formControlName="rentType">
<!--                      <option [ngValue]="null" disabled>Select rent type</option>-->
                      <option *ngFor="let rt of rentTypes; let first" [ngValue]="rt" [selected]="first">{{rt.rentTypeName}}</option>
                    </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceTypeCreateVilla">Service type:</label>
                  <input type="text" class="form-control" value="Villa" readonly>
                  <input type="text" class="form-control" id="serviceTypeCreateVilla"
                         formControlName="serviceTypeId" hidden>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="standardRoomCreateVilla">Standard room: </label>
                  <input type="text" class="form-control" id="standardRoomCreateVilla"
                         placeholder="Type new standard room" formControlName="standardRoom">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="descriptionOtherConvenienceCreateVilla">Description other
                    convenience:</label>
                  <input type="text" class="form-control" id="descriptionOtherConvenienceCreateVilla"
                         placeholder="Type new description other convenience"
                         formControlName="descriptionOtherConvenience">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="poolAreaCreateVilla">Pool area:</label>
                  <input type="text" class="form-control" id="poolAreaCreateVilla"
                         placeholder="Type new description other convenience" formControlName="poolArea">
                  <div *ngIf="poolArea.invalid && (poolArea.dirty || poolArea.touched)">
                    <span *ngIf="poolArea.errors?.gte" style="color: red">{{poolArea.errors?.requiredValue}}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="numberOfFloorsCreateVilla">Number of floors:</label>
                  <input type="text" class="form-control" id="numberOfFloorsCreateVilla"
                         placeholder="Type new number of floors" formControlName="numberOfFloors">
                  <div *ngIf="numberOfFloors.invalid && (numberOfFloors.dirty || numberOfFloors.touched)">
                    <span *ngIf="numberOfFloors.errors?.gte" style="color: red">{{numberOfFloors.errors?.requiredValue}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary" style="
                              min-width: 250px;
                              color: #fcda2e;
                              background: #403838 !important;
                              margin-top: 20px;
                              border: none;"
                      id="btn-create-villa">
                <i class="fa fa-paper-plane"></i>
                Send
              </button>
            </div>
          </form>

          <br>
          <br>
          <a href="/" class="backHome" style="font-size: 42px;
              font-family: cursive;
              margin: 0 0 50px;
              text-align: center;"><h1>Back Home</h1></a>
        </div>
      </div>
    </div>
    <div *ngIf="check == 2">
      <!--HOUSE FORM CREATE-->
      <div class="backgroundHouse">
        <div class="container" id="house">

          <form action="/services/create" id="createFormHouse" method="POST">
            <p id="checkErrorHouse" hidden></p>
            <input value=2 name="serviceTypeId" hidden>
            <div class="form-group">
              <label for="serviceCodeCreateHouse">Service code</label>
              <input type="text" class="form-control" placeholder="Type new service code here"
                     id="serviceCodeCreateHouse">
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceNameCreateHouse">Service name</label>
                  <input type="text" class="form-control" placeholder="Type new service name here"
                         id="serviceNameCreateHouse">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceAreaCreateHouse">Services area</label>
                  <input type="text" class="form-control" placeholder="Type new services area here"
                         id="serviceAreaCreateHouse">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceCostCreateHouse">Service cost:</label>
                  <input type="text" class="form-control" id="serviceCostCreateHouse"
                         placeholder="Type new services cost here" l>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceMaxPeopleCreateHouse">Service max people:</label>
                  <input type="text" class="form-control" id="serviceMaxPeopleCreateHouse"
                         placeholder="Type new services max people here">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="rentTypeCreateHouse">Choose new rent type:</label>
                  <select id="rentTypeCreateHouse" class="form-control">
                    <option>
                    </option>
                  </select>
                </div>
              </div>
              <input type="text" class="form-control" id="serviceTypeCreateHouse" value="2" hidden>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceTypeCreateHouse">Service type:</label>
                  <input type="text" class="form-control" value="House" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="standardRoomCreateHouse">Standard room:</label>
                  <input type="text" class="form-control" id="standardRoomCreateHouse"
                         placeholder="Type new standard room">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="descriptionOtherConvenienceCreateHouse">Description other
                    convenience:</label>
                  <input type="text" class="form-control" id="descriptionOtherConvenienceCreateHouse"
                         placeholder="Type new description other convenience">
                </div>
              </div>
            </div>
            <div class="form-group" style="width: 100%">
              <label for="numberOfFloorsCreateHouse">Number of floors:</label>
              <input type="text" class="form-control" id="numberOfFloorsCreateHouse"
                     placeholder="Type new number of floors">
            </div>

            <!--            <input type="hidden" id="messageSuccess" name="messageCreate">-->
            <div class="text-center">
              <button type="submit" class="btn btn-primary" style="
                              min-width: 250px;
                              color: #fcda2e;
                              background: #403838 !important;
                              margin-top: 20px;
                              border: none;"
                      id="btn-create-house">
                <i class="fa fa-paper-plane"></i>
                Send
              </button>
            </div>
          </form>

          <br>
          <br>
          <a href="/" class="backHome" style="font-size: 42px;
              font-family: cursive;
              margin: 0 0 50px;
              text-align: center;"><h1>Back Home</h1></a>
        </div>
      </div>
    </div>
    <div *ngIf="check == 3">
      <!--ROOM FORM CREATE-->
      <div class="backgroundHouse">
        <div class="container" id="room">

          <form action="/services/create" id="createFormRoom" method="POST">
            <p id="checkErrorRoom" hidden></p>
            <input value=3 name="serviceTypeId" hidden>
            <div class="form-group">
              <label for="serviceCodeCreateRoom">Service code</label>
              <input type="text" class="form-control" placeholder="Type new service code here"
                     id="serviceCodeCreateRoom">
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceNameCreateRoom">Service name</label>
                  <input type="text" class="form-control" placeholder="Type new service name here"
                         id="serviceNameCreateRoom">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceAreaCreateRoom">Services area</label>
                  <input type="text" class="form-control" placeholder="Type new services area here"
                         id="serviceAreaCreateRoom">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceCostCreateRoom">Service cost:</label>
                  <input type="text" class="form-control" id="serviceCostCreateRoom"
                         placeholder="Type new services cost here">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceMaxPeopleCreateRoom">Service max people:</label>
                  <input type="text" class="form-control" id="serviceMaxPeopleCreateRoom"
                         placeholder="Type new services max people here">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="rentTypeCreateRoom">Choose new rent type:</label>
                  <select id="rentTypeCreateRoom" class="form-control">
                    <option>
                    </option>
                  </select>
                </div>
              </div>
              <input type="text" class="form-control" id="serviceTypeCreateRoom" value="3" hidden>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="serviceTypeCreateRoom">Service type:</label>
                  <input type="text" class="form-control" value="Room" readonly>
                </div>
              </div>
            </div>
            <div class="form-group" style="width: 100%">
              <label for="freeAttachedServiceCreateRoom">Free attached service:</label>
              <input type="text" class="form-control" id="freeAttachedServiceCreateRoom"
                     placeholder="Type new free attached service here">
            </div>

            <input type="hidden" id="messageSuccess" name="messageCreate">
            <div class="text-center">
              <button type="submit" class="btn btn-primary" style="
                              min-width: 250px;
                              color: #fcda2e;
                              background: #403838 !important;
                              margin-top: 20px;
                              border: none;"
                      id="btn-create">
                <i class="fa fa-paper-plane"></i>
                Send
              </button>
            </div>
          </form>
          <br>
          <br>
          <a href="/" class="backHome" style="font-size: 42px;
              font-family: cursive;
              margin: 0 0 50px;
              text-align: center;"><h1>Back Home</h1></a>
        </div>
      </div>
    </div>


  </div>
</div>
