<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  <form [formGroup]="categoryForm">
    <mat-form-field appearance="outline">
      <mat-label>Category Id</mat-label>
      <input matInput placeholder="Id" formControlName="id">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput placeholder="Name"  formControlName="name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addCategory()">{{actionBtn}}</button>
</div>



