<h1 mat-dialog-title>Update Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput placeholder="Name" formControlName="productName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select placeholder="Category" formControlName="category" [compareWith]="compareFn">
        <mat-option *ngFor="let c of categories" [value]="c">{{c.id}} - {{c.name}}</mat-option>
      </mat-select>
<!--      <mat-select placeholder="Category" formControlName="category">-->
<!--        <mat-option value="Fruits">Fruits</mat-option>-->
<!--        <mat-option value="Vegetable">Vegetable</mat-option>-->
<!--        <mat-option value="Electronic">Electronic</mat-option>-->
<!--      </mat-select>-->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <div
        *ngIf="productForm.get('date').invalid && (productForm.get('date').dirty || productForm.get('date').touched) || productForm.get('date').errors?.empty || productForm.get('date').errors?.checkAge">
        <span *ngIf="productForm.get('date').errors.pattern" style="color: red">Wrong format, ex: 123456789</span>
        <span *ngIf="productForm.get('date').errors.required || productForm.get('date').errors.empty" style="color: red">Empty! Input please!</span>
        <span *ngIf="productForm.get('date').errors.ageError" style="color: red">Day of birth must be more than 18!</span>
      </div>
    </mat-form-field>

    <label id="example-radio-group-label"><h1 style="margin-top: 20px">Product Freshness</h1></label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"  formControlName="freshness">
      <mat-radio-button class="example-radio-button" *ngFor="let f of freshnessList" [value]="f">
        {{f}}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price"  formControlName="price">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea matInput placeholder="Comment"  formControlName="comment"></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="updateProduct()">{{actionBtn}}</button>
</div>


