<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  <form [formGroup]="customerForm">

    <input formControlName="customerId" hidden>

    <mat-form-field appearance="outline">
      <mat-label>Customer Code</mat-label>
      <input matInput formControlName="customerCode">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <div
        *ngIf="customerCode.invalid && (customerCode.dirty || customerCode.touched) || customerCode.errors?.empty || customerCode.errors?.existed">
        <span *ngIf="customerCode.errors.pattern" style="color: red">Wrong format, ex: KH-0123</span>
        <span *ngIf="customerCode.errors.required || customerCode.errors.empty"
              style="color: red">Empty! Input please!</span>
        <span *ngIf="customerCode.errors.existed" style="color: red">{{customerCode.errors.existed}}</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Name</mat-label>
      <input matInput formControlName="customerName">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <div
        *ngIf="customerName.invalid && (customerName.dirty || customerName.touched) || customerName.errors?.empty">
        <span *ngIf="customerName.errors.required || customerName.errors.empty"
              style="color: red">Empty! Input please!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Customer Birthday</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="customerBirthday">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <div
        *ngIf="customerBirthday.invalid && (customerBirthday.dirty || customerBirthday.touched) || customerBirthday.errors?.empty">
        <span *ngIf="customerBirthday.errors.required || customerBirthday.errors.empty" style="color: red">Please choose a date!</span>
      </div>
    </mat-form-field>

    <label id="example-radio-group-label"><h1 style="margin-top: 15px">Customer Gender</h1></label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                     formControlName="customerGender">
      <mat-radio-button class="example-radio-button" value="0" style="margin-top: -15px">Male</mat-radio-button>
      <mat-radio-button class="example-radio-button" value="1">Female</mat-radio-button>
      <div
        *ngIf="customerGender.invalid && (customerGender.dirty || customerGender.touched) || customerBirthday.errors?.empty">
        <span *ngIf="customerGender.errors?.required || customerGender.errors?.empty" style="color: red">Please choose customer gender!</span>
      </div>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Customer Id Card</mat-label>
      <input matInput placeholder="Price" formControlName="customerIdCard">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <div
        *ngIf="customerIdCard.invalid && (customerIdCard.dirty || customerIdCard.touched) || customerIdCard.errors?.empty">
        <span *ngIf="customerIdCard.errors.pattern" style="color: red">Wrong format, ex: 123456789</span>
        <span *ngIf="customerIdCard.errors.required || customerIdCard.errors.empty" style="color: red">Empty! Input please!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Phone</mat-label>
      <input matInput placeholder="Comment" formControlName="customerPhone">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <div
        *ngIf="customerPhone.invalid && (customerPhone.dirty || customerPhone.touched) || customerPhone.errors?.empty">
        <span *ngIf="customerPhone.errors.pattern" style="color: red">Wrong format, ex: 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx</span>
        <span *ngIf="customerPhone.errors.required || customerPhone.errors.empty" style="color: red">Empty! Input please!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Email</mat-label>
      <input matInput placeholder="Comment" formControlName="customerEmail">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <div
        *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched) || customerEmail.errors?.empty">
        <span *ngIf="customerEmail.errors.email" style="color: red">Wrong format, ex: abc@gmail.com</span>
        <span *ngIf="customerEmail.errors.required || customerEmail.errors.empty" style="color: red">Empty! Input please!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Address</mat-label>
      <input matInput placeholder="Comment" formControlName="customerAddress">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <div
        *ngIf="customerAddress.invalid && (customerAddress.dirty || customerAddress.touched) || customerAddress.errors?.empty">
        <span *ngIf="customerAddress.errors.required || customerAddress.errors.empty" style="color: red">Empty! Input please!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Type</mat-label>
      <mat-select formControlName="customerType" [compareWith]="compareFn">
        <mat-option *ngFor="let c of customerTypes" [value]="c">{{c.customerTypeId}}
          - {{c.customerTypeName}}</mat-option>
      </mat-select>
      <div
        *ngIf="customerType.invalid && (customerType.dirty || customerType.touched) || customerType.errors?.empty">
        <span *ngIf="customerType.errors.required || customerType.errors.empty" style="color: red">Please choose customer type!!</span>
      </div>
    </mat-form-field>

  </form>
</div>
<div style="color: red; text-align: center">{{warningMessage}}</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="updateCustomer()">{{actionBtn}}</button>
</div>


