<h1 mat-dialog-title>Update Product</h1>
<div mat-dialog-content>
  <form [formGroup]="baiDangForm">
    <input formControlName="id" hidden>
    <mat-form-field appearance="outline">
      <mat-label> Tieu de</mat-label>
      <input matInput placeholder="Tieu de" formControlName="tieuDe">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
      <div
        *ngIf="tieuDe.invalid && (tieuDe.dirty || tieuDe.touched) || tieuDe.errors?.empty">
        <span *ngIf="tieuDe.errors.required || tieuDe.errors.empty" style="color: red"> Vui long khong de trong!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Danh muc</mat-label>
      <mat-select placeholder="Danh muc" formControlName="danhMuc">
        <mat-option *ngFor="let c of danhMucs" [value]="c.id">{{c.id}} - {{c.ten}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Vung mien</mat-label>
      <mat-select placeholder="Vung mien" formControlName="vungMien">
        <mat-option *ngFor="let c of vungMiens" [value]="c.id">{{c.id}} - {{c.ten}}</mat-option>
      </mat-select>
    </mat-form-field>

    <label id="example1"><h1 style="margin-top: 15px">Ban la</h1></label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                     formControlName="banLa">
      <mat-radio-button class="example-radio-button" [value]="0" style="margin-top: -15px">Ca nhan</mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="1">Cong ty</mat-radio-button>
    </mat-radio-group>
    <!--    <label id="examplel"><h1 style="margin-top: 20px"> Ban la</h1></label>-->
    <!--    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"  formControlName="banLa">-->
    <!--      <mat-radio-button class="example-radio-button" *ngFor="let f of freshnessList" [value]="f">-->
    <!--        {{f}}-->
    <!--      </mat-radio-button>-->
    <!--    </mat-radio-group>-->

    <mat-form-field appearance="outline">
      <mat-label> Huong</mat-label>
      <mat-select placeholder="Category" formControlName="huong">
        <mat-option *ngFor="let c of huongs" [value]="c.id">{{c.id}} - {{c.ten}}</mat-option>
      </mat-select>
    </mat-form-field>


    <label id="example2"><h1 style="margin-top: 15px">Tinh trang</h1></label>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                     formControlName="tinhTrang">
      <mat-radio-button class="example-radio-button" [value]="0" style="margin-top: -15px">Moi</mat-radio-button>
      <mat-radio-button class="example-radio-button" [value]="1">Da su dung</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label> Dia chi</mat-label>
      <textarea matInput placeholder="Comment" formControlName="diaChi"></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
      <div
        *ngIf="diaChi.invalid && (diaChi.dirty || diaChi.touched) || diaChi.errors?.empty">
        <span *ngIf="diaChi.errors.required || diaChi.errors.empty" style="color: red"> Vui long khong de trong!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Dien tich</mat-label>
      <input matInput placeholder="Price" formControlName="dienTich" type="number">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
      <div
        *ngIf="dienTich.invalid && (dienTich.dirty || dienTich.touched) || dienTich.errors?.empty">
                    <span *ngIf="dienTich.errors?.gte"
                          style="color: red">{{dienTich.errors?.requiredValue}}</span><br>
        <span *ngIf="dienTich.errors.required || dienTich.errors.empty" style="color: red">Vui long khong de trong!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Gia</mat-label>
      <input matInput placeholder="Price" formControlName="gia" type="number">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
      <div
        *ngIf="gia.invalid && (gia.dirty || gia.touched) || gia.errors?.empty">
                    <span *ngIf="gia.errors?.gte"
                          style="color: red"> {{gia.errors?.requiredValue}}</span><br>
        <span *ngIf="gia.errors.required || gia.errors.empty" style="color: red"> Vui long khong de trong!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Noi dung</mat-label>
      <input matInput placeholder="Price" formControlName="noiDung">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
      <div
        *ngIf="noiDung.invalid && (noiDung.dirty || noiDung.touched) || noiDung.errors?.empty">
        <span *ngIf="noiDung.errors.required || noiDung.errors.empty" style="color: red"> Vui long khong de trong!</span>
      </div>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Hinh anh</mat-label>
      <input matInput placeholder="Price" formControlName="hinhAnh">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="luuBaiDang()">Luu thay doi</button>
</div>



