<div class="container-lg">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="contact-form">
        <h1>Update Customer</h1>
        <form id="createFormVilla" (ngSubmit)="onSubmit()" [formGroup]="customerUpdateForm">
          <input name="customerId" hidden formControlName="customerId">
          <input name="active" hidden formControlName="active">
          <div class="form-group">
            <label for="serviceCodeCreateVilla">Customer code</label>
            <input type="text" class="form-control" id="serviceCodeCreateVilla" name="customerCode" formControlName="customerCode" readonly>
          </div>
          <div *ngIf="customerCode.invalid && (customerCode.dirty || customerCode.touched)">
            <span *ngIf="customerCode.errors.pattern" style="color: red">Wrong format, ex: KH-0123</span>
            <span *ngIf="customerCode.errors.required" style="color: red">Empty! Input please!</span>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="serviceNameCreateVilla">Customer name</label>
                <input type="text" class="form-control"
                       id="serviceNameCreateVilla" name="customerName" formControlName="customerName">
                <div
                  *ngIf="customerName.invalid && (customerName.dirty || customerName.touched)">
                  <span *ngIf="customerName.errors.required" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="serviceAreaCreateVilla">Customers birthday</label>
                <input type="date" class="form-control"
                       id="serviceAreaCreateVilla" name="customerBirthday" formControlName="customerBirthday">
                <div
                  *ngIf="customerBirthday.invalid">
                  <span>Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Customer gender:</label><br>
                <input type="radio" id="female" value="0" name="customerGender" formControlName="customerGender" style="margin: 10px;">
                <label for="female" style="margin-bottom: 1px;"> Female</label><br>
                <input type="radio" id="male" value="1" name="customerGender" formControlName="customerGender" style="margin: 10px;">
                <label for="male"> Male</label>
                <div
                  *ngIf="customerGender.invalid">
                  <span>Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="serviceMaxPeopleCreateVilla">Id Card Number:</label>
                <input type="text" class="form-control" id="serviceMaxPeopleCreateVilla"
                        name="customerIdCard" formControlName="customerIdCard">
                <div
                  *ngIf="customerIdCard.invalid && (customerIdCard.dirty || customerIdCard.touched)">
                  <span *ngIf="customerIdCard.errors.pattern" style="color: red">Wrong format, ex: KH-0123</span>
                  <span *ngIf="customerIdCard.errors.required" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="rentTypeCreateVilla">Phone:</label>
                <input type="text" class="form-control" id="rentTypeCreateVilla"
                        name="customerPhone" formControlName="customerPhone">
                <div
                  *ngIf="customerPhone.invalid && (customerPhone.dirty || customerPhone.touched)">
                  <span *ngIf="customerPhone.errors.pattern" style="color: red">Wrong format, ex: 090xxxxxxx or 091xxxxxxx or (84)+90xxxxxxx or (84)+91xxxxxxx</span>
                  <span *ngIf="customerPhone.errors.required" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="text" class="form-control"
                       name="customerEmail" formControlName="customerEmail">
                <div
                  *ngIf="customerEmail.invalid && (customerEmail.dirty || customerEmail.touched)">
                  <span *ngIf="customerEmail.errors.email" style="color: red">Wrong format, ex: abc@gmail.com</span>
                  <span *ngIf="customerEmail.errors.required" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="standardRoomCreateVilla">Address:</label>
                <input type="text" class="form-control" id="standardRoomCreateVilla"
                        name="customerAddress" formControlName="customerAddress">
                <div
                  *ngIf="customerAddress.invalid && (customerAddress.dirty || customerAddress.touched)">
                  <span *ngIf="customerAddress.errors.required" style="color: red">Empty! Input please!</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="typeId">Customer type: </label>
                <select id="typeId" class="form-control" name="customerType" formControlName="customerType">
                  <option [ngValue]="ct.customerTypeId" *ngFor="let ct of customerTypes" >{{ct.customerTypeName}}</option>
                </select>
                <div
                  *ngIf="customerType.invalid && (customerType.dirty || customerType.touched)">
                  <span *ngIf="customerType.errors.required" style="color: red">Please choose customer type!!</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" style="
                              min-width: 250px;
                              color: #fcda2e;
                              background: #403838 !important;
                              margin-top: 20px;
                              border: none;"
                    id="btn-create-villa" >
<!--                    [disabled]="!customerUpdateForm.valid">-->
<!--                                routerLink="/list-customers">-->
            <!--                    (click)="btnClick()">-->
              <i class="fa fa-paper-plane"></i>
              Send
            </button>
          </div>
        </form>
        <br>
        <br>
        <a href="/" class="backHome"><h1>Back Home</h1></a>
      </div>
    </div>
  </div>
</div>
