<div class="body">
<header>
  <div class="container">
    <div class="menu-bar-content">
      <ul>
        <li class="logo"><a href="#">C11SHOP</a></li>
        <!-- <li><a href="#">Đà Nẵng <i class="fa fa-sort-down"></i></a></li> -->
        <li><input style="width: 300px" class="header-search" placeholder="Bạn cần tìm gì?" type="text"><i
          class="fa fa-search"></i></li>
        <li><a href="#">Admin <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Quản lý thông tin cá nhân</a></li>
              <li><a href="#">Quản lý nhân viên</a></li>
              <li><a href="#">Quản lý kinh doanh</a></li>
              <li><a href="#">Quản lý báo cáo</a></li>
              <li><a href="#">Xem thông tin hàng hóa</a></li>
              <li><a href="#">Quản lý nhà cung cấp</a></li>
              <li><a href="#">Quản lý bán hàng</a></li>
              <li><a href="#">Quản lý xuất nhập kho</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Kinh doanh <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Quản lý thông tin cá nhân</a></li>
              <li><a href="#">Quản lý nhà cung cấp</a></li>
              <li><a href="#">Quản lý kinh doanh</a></li>
              <li><a href="#">Quản lý báo cáo</a></li>
              <li><a href="#">Xem thông tin hàng hóa</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Bán hàng <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Quản lý thông tin cá nhân</a></li>
              <li><a href="#">Xem thông tin hàng hóa</a></li>
              <li><a href="#">Quản lý bán hàng</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Thủ kho <i class="fa fa-sort-down"></i></a>
          <div class="sub-menu">
            <ul>
              <li><a href="#">Quản lý thông tin cá nhân</a></li>
              <li><a href="#">Quản lý xuất nhập kho</a></li>
              <li><a href="#">Quản lý nhà cung cấp</a></li>
            </ul>
          </div>
        </li>
        <li>Đăng nhập</li>
      </ul>
    </div>
  </div>
</header>


<div class="container mt-3 col-7">
  <div class="div-ahead" style="width: 100%;">
    <h4 style="font-size: 20px; text-transform: uppercase; margin: 20px"><b>Nhập kho hàng hóa</b></h4>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <button type="button" class="btn-create btn-rounded">Chọn hàng hóa đã từng nhập kho</button>
    <button type="button" class="btn-create btn-rounded">Quét mã QR</button>
  </div>

  <div>
    <form style="width: 100%;">
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="myEmail">Tên hàng hóa</label>
          <input type="email" class="form-control"
                 id="myEmail" placeholder="Tên hàng hóa">
        </div>
        <div class="form-group col-sm-6">
          <label for="myPassword">Giá</label>
          <input type="text" class="form-control"
                 id="myPassword" placeholder="Giá">
        </div>
      </div>

      <div class="form-group">
        <label for="image">Hình ảnh</label>
        <div style="display: flex; justify-content: center">
          <img src="/src/assets/imgs/no-img.jpg" id="image">
<!--          <img src="imgs/Galaxy-S22-Ultra-Burgundy-600x600.jpg" onerror="this.src='imgs/no-img.jpg'"-->
<!--               id="image" class="image">-->
          <!--                    https://cdn.tgdd.vn/Products/Images/42/235838/Galaxy-S22-Ultra-Burgundy-600x600.jpg-->
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="nhacc">Nhà cung cấp</label>
          <div class="input-icons">
            <i class="fa-solid fa-folder-plus icon" data-toggle="modal" data-target="#exampleModal"></i>
            <input type="text" class="form-control input-field"
                   id="nhacc" placeholder="Chọn nhà cung cấp">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="sl">Số lượng nhập</label>
          <input type="number" class="form-control"
                 id="sl" placeholder="Số lượng nhập">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="myZip">Ngày nhập kho</label>
          <input type="date" class="form-control" id="myZip" value="2022-05-05">
        </div>
        <div class="form-group col-sm-6">
          <label for="myState">Người nhập kho</label>
          <select id="myState" class="form-control">
            <option selected>Nguyễn Văn A</option>
            <option>Trần Văn C</option>
          </select>
        </div>
      </div>
      <div class="div-bottom">
        <button type="button" class="btn-cancel btn-rounded">Hủy</button>
        <button type="button" class="btn-confirm btn-rounded">Thêm vào kho</button>
      </div>
      <!--        <button class="">Hủy</button>-->
      <!--        <button type="submit" class="btn">Thêm vào kho</button>-->
    </form>
  </div>
</div>
</div>

<app-modal-ncc></app-modal-ncc>
