<div class="create-div">
  <button class="create-btn" routerLink="/create-facilities">Create Services</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let f of facilities; index as i">
      <div class="card">
        <div class="card-image">
          <img class="img-responsive"
               src="{{f.serviceImage}}">
        </div>
        <div class="card-content">
          <span class="card-title">{{f.serviceName}}</span>
          <p class="room-name">Room size {{f.serviceArea}}m² - {{f.descriptionOtherConvenience}}</p>
          <p><span class="discount-price">VND {{f.serviceCost}}</span> VND {{f.serviceCost * 0.8}}</p>
        </div>
        <div class="card-action d-flex">
          <button type="button" class="btn btn-info" routerLink="/update-facilities/{{f.serviceId}}">Edit</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
