
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Do you want to delete customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #btnDeleteClose></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="customerCodeDelete" class="col-form-label">Customer Code :</label>
          <input type="text" class="form-control" id="customerIdDelete" value="{{customerDelete.customerId}}" hidden>
          <input type="text" class="form-control" id="customerCodeDelete" value="{{customerDelete.customerCode}}">
        </div>
        <div class="form-group">
          <label for="customerNameDelete" class="col-form-label">Customer Name :</label>
          <input type="text" class="form-control" id="customerNameDelete" value="{{customerDelete.customerName}}">
        </div>
        <div class="form-group">
          <label for="customerNameDelete" class="col-form-label">Customer Name :</label>
          <input type="text" class="form-control" id="customerEmailDelete" value="{{customerDelete.customerEmail}}">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()">Confirm</button>
      </div>
    </div>
  </div>
</div>
