<div class="container-fluid px-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="justify-content: flex-end">
          <div class="col-sm-4 text-center">
            <h2>Manage <b>Contracts</b></h2>
          </div>

          <!--                    ADD NEW CONTRACT-->
          <div class="col-sm-4" style="text-align: right">
            <a href="#" class="btn btn-success" id="modalActivate" type="button"
               data-toggle="modal"
               data-target="#createModal"
               routerLink="/create-contracts"><i
              class="material-icons">&#xE147;</i>
              <span>Add New Contract</span>
            </a>
          </div>
        </div>
      </div>
      <div>
<!--        <table class="table table-striped table-hover">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Contract Start Date</th>-->
<!--            <th>Contract End Date</th>-->
<!--            <th>Contract Deposit</th>-->
<!--            <th>Contract Total Money</th>-->
<!--            <th>Employee Id</th>-->
<!--            <th>Customer</th>-->
<!--            <th>Service</th>-->
<!--            <th colspan="2">Action</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let contract of contracts | paginate : { itemsPerPage: 5, currentPage: p }">-->
<!--            <td>{{contract.contractId}}</td>-->
<!--            <td>{{contract.contractStartDate | date:'dd/MM/yyyy'}}</td>-->
<!--            <td>{{contract.contractEndDate | date:'dd/MM/yyyy'}}</td>-->
<!--            <td>{{contract.contractDeposit}}</td>-->
<!--            <td>{{contract.contractTotalMoney}}</td>-->
<!--            <td>{{contract.employee.employeeId}} - {{contract.employee.employeeName}}</td>-->
<!--            <td>{{contract.customer.customerCode}} - {{contract.customer.customerName}}</td>-->
<!--            <td>{{contract.services.serviceName}}</td>-->
<!--            <td>-->
<!--              <a href="#" style="color: #4ff321" title="Edit"><i class="fa-solid fa-info"></i></a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a type="button" style="color: #17a2b8; cursor: pointer" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="sendDelete(contract)">-->
<!--                <i class="fa-solid fa-trash-can "></i>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->


        <div>
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="contractId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                <td mat-cell *matCellDef="let row"> {{row.contractId}} </td>
              </ng-container>


              <ng-container matColumnDef="contractStartDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Start Date</th>
                <td mat-cell *matCellDef="let row"> {{row.contractStartDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="contractEndDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract End Date</th>
                <td mat-cell *matCellDef="let row"> {{row.contractEndDate | date:'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="contractDeposit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Deposit</th>
                <td mat-cell *matCellDef="let row"> {{row.contractDeposit  | currency}} </td>
              </ng-container>

              <ng-container matColumnDef="contractTotalMoney">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract Total Money</th>
                <td mat-cell *matCellDef="let row"> {{row.contractTotalMoney  | currency}}</td>
              </ng-container>

              <ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee</th>
                <td mat-cell *matCellDef="let row"> {{row.employee.employeeName}} </td>
              </ng-container>

              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer</th>
                <td mat-cell *matCellDef="let row"> {{row.customer.customerCode}} - {{row.customer.customerName}} </td>
              </ng-container>

              <ng-container matColumnDef="services">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Service</th>
                <td mat-cell *matCellDef="let row"> {{row.services.serviceName}}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
                <td mat-cell *matCellDef="let row">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
        </div>

<!--        <hr/>-->
<!--        <div style="justify-content: space-around;display: flex;">-->
<!--          <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

<app-contract-modal [contractChild]="contractRoot" (flagDelete)="confirmDelete($event)"></app-contract-modal>
